.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: greenyellow;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar {
  padding: 20px;
  margin-bottom: 40px;
  background-color:green;
}
.bwm-search {
  height: 30px;
  width: 300px !important;
  float:left;
  background-color: greenyellow;
}
.btn-bwm-search {
  border-color: white;
  color:white;
  background-color:greenyellow;
  height: 30px;
  width: 50px;
  float:left;
  padding: 0px;
}
.btn-bwm-add {
  border-color: greenyellow;
  color:white;
  background-color:greenyellow;
  height: 30px;
  width: 150px;
  float:left;
  padding: 0px;
}

.btn-bwm-add-card {
  border-color:cornsilk;
  color:black;
  background-color:#fff;
  height: 30px;
  width: 250px;
  padding: 0px;
  margin-bottom: 12px;

}

  .card {
    margin-top: auto;
    margin-bottom: 500px;
    margin-left: 20px;
    border-color: red;
    height: 50px;
    width: 300px;

  }

  .card-block {
    padding: 20px;
    background-color:#dfe1e6;

  }

  .card-title {
    font-size: 20px;
  }

  .btn-bwm {
    font-size: 14px;
    color: white;
    padding: 10px 15px;  
  }

  .card-footer {
      font-size: 14px;
      margin-top: 10px;
      background-color:#dfe1e6;


    }

    .btn-bwm {
      margin-right: 10px;
    }
    
